extends layout

block vars
  - var pageTitle = 'Dress David Rose'
  - var pageDescription = 'Every shirt, sweater, and jacket David Rose wears on Schitt’s Creek.'
  - var bodyClass = 'home'

mixin gallery-svg(season,episode,item,alt,loading)
  .gallery-shirt(class='season-0' + season)
    a(href='#s0' + season + 'e' + episode + '-' + item)
      img(src='/assets/images/gallery/s0' + season + 'e' + episode + '-' + item + '.svg', alt=alt, loading=loading)
      figcaption='S0' + season + ' E' + episode

mixin gallery-png(season,episode,item,alt,loading)
  .gallery-shirt(class='season-0' + season)
    a(href='#s0' + season + 'e' + episode + '-' + item)
      picture
        source(srcset='/assets/images/gallery/s0' + season + 'e' + episode + '-' + item + '-sm.png', media='(max-width: 845px) and (max-height: 800px)')
        source(srcset='/assets/images/gallery/s0' + season + 'e' + episode + '-' + item + '.png')
        img(src='/assets/images/gallery/s0' + season + 'e' + episode + '-' + item + '.png', alt=alt, loading=loading)
      figcaption='S0' + season + ' E' + episode

mixin feature-svg(season,episode,item,prev,next,alt)
  .shirt(id='s0' + season + 'e' + episode + '-' + item)
    a.prev(href='#' + prev) Prev
    img(src='/assets/images/feature/s0' + season + 'e' + episode + '-' + item + '.svg', alt=alt)
    figcaption='S0' + season + ' E' + episode
    a.next(href='#' + next) Next

mixin feature-png(season,episode,item,prev,next,alt)
  .shirt(id='s0' + season + 'e' + episode + '-' + item)
    a.prev(href='#' + prev) Prev
    picture
      source(srcset='/assets/images/feature/s0' + season + 'e' + episode + '-' + item + '-sm.png', media='(max-width: 845px) and (max-height: 630px)')
      source(srcset='/assets/images/feature/s0' + season + 'e' + episode + '-' + item + '-md.png', media='(max-width: 845px) and (min-height: 631px)')
      source(srcset='/assets/images/feature/s0' + season + 'e' + episode + '-' + item + '.png')
      img(src='/assets/images/feature/s0' + season + 'e' + episode + '-' + item + '.png', alt=alt)
    figcaption='S0' + season + ' E' + episode
    a.next(href='#' + next) Next

block content

  nav.gallery

    nav#gallery-filters
      button.filter.active#filter-all(onclick="filterSelection('all')") All
      button.filter#filter-s01(onclick="filterSelection('season-01')") S01
      button.filter#filter-s02(onclick="filterSelection('season-02')") S02
      button.filter#filter-s03(onclick="filterSelection('season-03')") S03
      button.filter#filter-s04(onclick="filterSelection('season-04')") S04
      button.filter#filter-s05(onclick="filterSelection('season-05')") S05
      button.filter#filter-s06(onclick="filterSelection('season-06')") S06

    +gallery-svg('1','01','01','black sweater, leather elbows','auto')
    +gallery-svg('1','01','02','black leather jacket','auto')
    +gallery-svg('1','01','03','black zip-up hoodie','auto')
    +gallery-svg('1','01','04','white t-shirt, black beanie','auto')
    +gallery-svg('1','02','01','black crewneck sweater','auto')
    +gallery-svg('1','02','02','black sweater with zipper collar','auto')
    +gallery-svg('1','02','03','white long sleeve, black beanie, headphones','auto')
    +gallery-svg('1','03','01','white long sleeve','auto')
    +gallery-svg('1','03','02','white crewneck sweater','auto')
    +gallery-svg('1','03','03','white crewneck sweater','auto')
    +gallery-svg('1','03','04','grey knit sweater with green smock on top','auto')
    +gallery-svg('1','04','01','black polo with white stars at the collar','auto')
    +gallery-png('1','04','02','short sleeve oxford with scribbly line pattern','auto')
    +gallery-svg('1','04','03','black zip-up hoodie','auto')
    +gallery-svg('1','05','01','long black hoodie','auto')
    +gallery-svg('1','05','02','black crewneck sweater','auto')
    +gallery-svg('1','05','03','white t-shirt','auto')
    +gallery-svg('1','06','01','slouchy black knit sweater','auto')
    +gallery-svg('1','06','02','white t-shirt','auto')
    +gallery-svg('1','06','03','black zip-up hoodie, black beanie','auto')
    +gallery-svg('1','07','01','chunky white knit sweater','lazy')
    +gallery-png('1','07','02','camoflage jacket','lazy')
    +gallery-svg('1','08','01','khaki oxford with cowl','lazy')
    +gallery-svg('1','09','01','black zip-up hoodie with zip sleeves','lazy')
    +gallery-png('1','09','02','white oxford with marble pattern','lazy')
    +gallery-png('1','09','03','black sweater with two beige stripes at collar','lazy')
    +gallery-png('1','10','01','black oxford with roses pattern','lazy')
    +gallery-png('1','11','01','white sweater with black and grey flowers','lazy')
    +gallery-svg('1','12','01','white polo with black stars at the collar','lazy')
    +gallery-svg('1','12','02','black sweater with diagonal white and grey color blocks','lazy')
    +gallery-svg('1','12','03','dress shirt, tie, and jacket','lazy')
    +gallery-svg('1','13','01','black sweater with leather shoulders','lazy')

    +gallery-png('2','01','01','black hoodie with furry hood','lazy')
    +gallery-svg('2','01','02','grey sweater with text “LOVE ME TENDER”','lazy')
    +gallery-svg('2','02','01','black sweater with thick beige stripe and fancy letter D at center','lazy')
    +gallery-png('2','02','02','white knit sweater with black stripes','lazy')
    +gallery-svg('2','03','01','black crewneck sweater','lazy')
    +gallery-svg('2','03','02','black sweater with geometric triangle pattern','lazy')
    +gallery-svg('2','04','01','white sweater with black blob shape at the collar','lazy')
    +gallery-svg('2','04','02','black sweater with two thick white stripes','lazy')
    +gallery-png('2','05','01','white long sleeve shirt with patterened knit shawl','lazy')
    +gallery-svg('2','05','02','black long sleeve with cowl','lazy')
    +gallery-png('2','06','01','white sweater with splatter design','lazy')
    +gallery-svg('2','06','02','black knit sweater','lazy')
    +gallery-svg('2','06','03','white t-shirt with black side trim','lazy')
    +gallery-svg('2','07','01','black sweater with ribbed chest','lazy')
    +gallery-svg('2','07','02','black leather jacket','lazy')
    +gallery-svg('2','08','01','white oxford with black and grey tape pattern','lazy')
    +gallery-svg('2','09','01','black sweater with circle of white stars','lazy')
    +gallery-svg('2','10','01','black t-shirt','lazy')
    +gallery-svg('2','10','02','beige and black zip-up jacket','lazy')
    +gallery-svg('2','10','03','black sweater with leather chest','lazy')
    +gallery-svg('2','11','01','black sweater with leather chevron and grey sleeve','lazy')
    +gallery-svg('2','11','02','white t-shirt with text “DON’T”','lazy')
    +gallery-png('2','12','01','black sweater with grey vinery design','lazy')
    +gallery-svg('2','12','02','suit jacket with navy and black stripes','lazy')
    +gallery-svg('2','13','01','white t-shirt with black side trim','lazy')
    +gallery-png('2','13','02','black sweater with symmetric flowers design','lazy')

    +gallery-svg('3','01','01','black sweater with grey zigzag and star collar','lazy')
    +gallery-svg('3','01','02','white sweater with plaid collar','lazy')
    +gallery-svg('3','02','01','white sweater with geometric emblem','lazy')
    +gallery-svg('3','02','02','grey hooded cardigan','lazy')
    +gallery-svg('3','02','03','white polo with black stars at the collar','lazy')
    +gallery-png('3','02','04','black sweater with white pattern','lazy')
    +gallery-png('3','03','01','black sweater with statue of libery holding lightning bolts','lazy')
    +gallery-svg('3','03','02','black cardigan','lazy')
    +gallery-svg('3','04','01','white sweater with contour drawing of a face','lazy')
    +gallery-svg('3','04','02','black sweater with text “RADICAL FEMINIST”','lazy')
    +gallery-svg('3','04','03','grey knit sweater','lazy')
    +gallery-svg('3','05','01','grey sweater with cattail design','lazy')
    +gallery-svg('3','05','02','grey sweater with white and black trim on sleeves','lazy')
    +gallery-svg('3','06','01','olive sweater','lazy')
    +gallery-svg('3','07','01','grey sweater with spikes down the sleeves','lazy')
    +gallery-svg('3','07','02','black sweater with rotweiller','lazy')
    +gallery-svg('3','08','01','black sweater with narrow white stripes down center','lazy')
    +gallery-svg('3','08','02','grey sweater with black and white color blocks','lazy')
    +gallery-png('3','09','01','grey sweater with smoky pattern, skull and baseball','lazy')
    +gallery-png('3','09','02','white sweater with sketchy stripes','lazy')
    +gallery-svg('3','10','01','black sweater with ribbed chest','lazy')
    +gallery-svg('3','10','02','grey sweater with scattered black birds','lazy')
    +gallery-svg('3','10','03','black leather jacket','lazy')
    +gallery-svg('3','11','01','black camo sweater with black and white chevrons','lazy')
    +gallery-svg('3','11','02','white t-shirt with text “DON’T”','lazy')
    +gallery-svg('3','11','03','black sweater with circle of white stars','lazy')
    +gallery-png('3','12','01','black sweater with gold medallions','lazy')
    +gallery-png('3','12','02','cream sweater with zebra pattern','lazy')
    +gallery-svg('3','12','03','white t-shirt with vampire mouth','lazy')
    +gallery-svg('3','13','01','black crewneck sweater','lazy')
    +gallery-svg('3','13','02','black sweater with white heart','lazy')
    +gallery-svg('3','13','03','black sweater with big white lightning bolt','lazy')

    +gallery-png('4','01','01','tan sweater with cheetah print','lazy')
    +gallery-svg('4','02','01','black sweater with script text “Parisien”','lazy')
    +gallery-png('4','02','02','black sweater with organic spot pattern','lazy')
    +gallery-svg('4','03','01','grey sweater with black square and two white X‘s','lazy')
    +gallery-png('4','03','02','black sweater with symmetric flowers design','lazy')
    +gallery-svg('4','04','01','black crew neck sweater','lazy')
    +gallery-png('4','05','01','white knit sweater with black stripes','lazy')
    +gallery-png('4','05','02','black sweater with paisley pattern','lazy')
    +gallery-png('4','06','01','black sweater covered with white writing and fireworks','lazy')
    +gallery-png('4','06','02','black sweater with red and orange fire pattern','lazy')
    +gallery-svg('4','06','03','black sweater with text “NO TOUCH”','lazy')
    +gallery-svg('4','07','01','black sweater with white radial geometric pattern','lazy')
    +gallery-svg('4','08','01','black turtleneck','lazy')
    +gallery-png('4','08','02','black sweater with two dobermans','lazy')
    +gallery-svg('4','08','03','white bathrobe','lazy')
    +gallery-svg('4','09','01','black leather sweater with white and red striped sleeves and white stars at the collar','lazy')
    +gallery-svg('4','10','01','white sweater with text “WILD ALOOF REBEL”','lazy')
    +gallery-svg('4','10','02','black zip-up jacket','lazy')
    +gallery-png('4','11','01','black sweater with sliced Hercules imagery on the sleeves','lazy')
    +gallery-png('4','12','01','black sweater with wings at the shoulders','lazy')
    +gallery-svg('4','13','01','suit with pink bowtie','lazy')
    +gallery-svg('4','13','02','cream chunky sweater with zigzag pattern','lazy')
    +gallery-png('4','13','03','black sweater with glittery grey stripes','lazy')
    +gallery-svg('4','13','04','grey sweater with bold zigzag pattern at chest','lazy')

    +gallery-svg('5','01','01','slouchy grey pullover hoodie','lazy')
    +gallery-png('5','01','02','white sweater with spray-painted black stars','lazy')
    +gallery-png('5','02','01','white t-shirt with handwriting and bird','lazy')
    +gallery-png('5','02','02','black cardigan with white palm trees pattern','lazy')
    +gallery-svg('5','02','03','black sweater with cubes pattern','lazy')
    +gallery-svg('5','03','01','white t-shirt with black stripes','lazy')
    +gallery-png('5','03','02','grey knit sweater with frayed edges','lazy')
    +gallery-svg('5','03','03','black pullover hoodie with three white racing stripes','lazy')
    +gallery-svg('5','04','01','black sweater with radiating white lightning bolts','lazy')
    +gallery-png('5','04','02','black hoodie with text “POSSESSED”','lazy')
    +gallery-svg('5','05','01','black sweater with lace-up sleeves','lazy')
    +gallery-svg('5','05','02','white pajama shirt','lazy')
    +gallery-png('5','06','01','black sweater with purple and white dyed bottom','lazy')
    +gallery-png('5','07','01','black sweater with bird','lazy')
    +gallery-svg('5','08','01','black sweater with text “NONCHALANCE”','lazy')
    +gallery-svg('5','09','01','white sweater with text “BEAUTY &”','lazy')
    +gallery-svg('5','09','02','white and green baseball shirt with team logo “Cafe Tropical”','lazy')
    +gallery-png('5','10','01','grey sweater with black panther sleeves','lazy')
    +gallery-svg('5','11','01','slouchy black sweater','lazy')
    +gallery-svg('5','11','02','black sweater with geomeetric heart pattern and the text “I BELIEVE IN THE POWER OF LOVE”','lazy')
    +gallery-svg('5','12','01','black sweater with white and red stripes','lazy')
    +gallery-svg('5','13','01','black sweater with text “You First”','lazy')
    +gallery-png('5','13','02','black sweater with big, fuzzy black stripes','lazy')
    +gallery-svg('5','14','01','black t-shirt','lazy')
    +gallery-svg('5','14','02','black pullover hoodie with white laces up the center and hood','lazy')
    +gallery-svg('5','14','03','black sweater with white embroidered roses at the chest','lazy')

    +gallery-svg('6','01','01','black very-worn sweater with holes','lazy')
    +gallery-svg('6','02','01','black t-shirt with “LOVER” over the pocket','lazy')
    +gallery-png('6','02','02','cream hoodie with big fuzzy dots','lazy')
    +gallery-svg('6','02','03','long sleeve black and white striped shirt with red heart with eyes at the chest','lazy')
    +gallery-svg('6','03','01','black hoodie with text on the chest “Truth. It’s more important now than ever.”','lazy')
    +gallery-png('6','03','02','black sweater with grey tiger stripes','lazy')
    +gallery-svg('6','03','03','light blue oxford','lazy')
    +gallery-svg('6','04','01','black sweater with glittery chest','lazy')
    +gallery-svg('6','05','01','black sweater with growling dog and the text “BEWARE”','lazy')
    +gallery-svg('6','05','02','black long sleeve shirt with ribbon down side','lazy')
    +gallery-svg('6','05','03','black sweater with white and grey glittery detail around shoulders','lazy')
    +gallery-png('6','06','01','black sweater with oversized grey leopard print','lazy')
    +gallery-png('6','06','02','white t-shirt with black square and black leather jacket','lazy')
    +gallery-svg('6','07','01','black sweater with mauve geometric panel on front','lazy')
    +gallery-svg('6','07','02','black sweater with dyed stripes at the bottom and text “DREAM ON” at chest','lazy')
    +gallery-svg('6','08','01','black sweater with two thick white stripes and white star','lazy')
    +gallery-svg('6','08','02','silver sweater','lazy')
    +gallery-png('6','09','01','black sweater with white tattoo artwork','lazy')
    +gallery-svg('6','09','02','black sweater covered with eyeballs','lazy')
    +gallery-svg('6','09','03','black sweater with triangles of grey, white, and red color blocks','lazy')
    +gallery-svg('6','10','01','black sweater with ICON over the chest','lazy')
    +gallery-svg('6','11','01','black hoodie with LOVER written in sequins','lazy')
    +gallery-svg('6','11','02','black t-shirt with I’M STUPID in white text','lazy')
    +gallery-svg('6','12','01','black sweater with a snake across the shoulder and sleeve','lazy')
    +gallery-svg('6','13','01','black sweater with open hand graphic','lazy')
    +gallery-png('6','13','02','black sweater with two hands cupping fire','lazy')
    +gallery-svg('6','14','01','alt','black and white striped sweater with a single red stripe at the wrist')
    +gallery-svg('6','14','02','alt','black sweater with a rainbow heart that says LOVE and colored stars down the sleeves')
    +gallery-svg('6','14','03','alt','a tuxedo shirt, bowtie, and jacket')
    +gallery-svg('6','14','04','alt','a dress shirt with rolled sleeves and untied bowtie')
    .gallery-shirt(class='print season-01 season-02 season-03 season-04 season-05 season-06')
      a(href='https://www.etsy.com/listing/849456337/dress-david-rose-print')
        img(src='/assets/images/print.png', alt='poster of David Rose sweaters', loading='lazy')
        figcaption Dress your wall

    .coffee
      p
        span Like this site?
        a(href="https://www.buymeacoffee.com/lynnandtonic") Buy me a coffee.

  section.feature
    h1 Dress David Rose
    h2 a #[a(href='https://twitter.com/lynnandtonic') Lynn Fisher] project
    a#share(href='https://ctt.ac/IEsu0') Share
    .david-rose
      img(src='/assets/images/david-rose-default.svg', loading='eager')
    .shirt#top
      a.prev(href='#s06e14-04') Prev
      img(src='/assets/images/feature/david-rose-default.svg', alt='t-shirt that says “Dress me”', loading='eager')
      a.next(href='#s01e01-01') Next

    +feature-svg('1','01','01', 'top','s01e01-02','black sweater, leather elbows')
    +feature-svg('1','01','02','s01e01-01','s01e01-03','black leather jacket')
    +feature-svg('1','01','03','s01e01-02','s01e01-04','black zip-up hoodie')
    +feature-svg('1','01','04','s01e01-03','s01e02-01','white t-shirt, black beanie')
    +feature-svg('1','02','01','s01e01-04','s01e02-02','black crewneck sweater')
    +feature-svg('1','02','02','s01e02-01','s01e02-03','black sweater with zipper collar')
    +feature-svg('1','02','03','s01e02-02','s01e03-01','white long sleeve, black beanie, headphones')
    +feature-svg('1','03','01','s01e02-03','s01e03-02','white long sleeve')
    +feature-svg('1','03','02','s01e03-01','s01e03-03','white crewneck sweater')
    +feature-svg('1','03','03','s01e03-02','s01e03-04','white crewneck sweater')
    +feature-svg('1','03','04','s01e03-03','s01e04-01','grey knit sweater with green smock on top')
    +feature-svg('1','04','01','s01e03-02','s01e04-02','black polo with white stars at the collar')
    +feature-png('1','04','02','s01e04-01','s01e04-03','short sleeve oxford with scribbly line pattern')
    +feature-svg('1','04','03','s01e04-02','s01e05-01','black zip-up hoodie')
    +feature-svg('1','05','01','s01e04-03','s01e05-02','long black hoodie')
    +feature-svg('1','05','02','s01e05-01','s01e05-03','black crewneck sweater')
    +feature-svg('1','05','03','s01e05-02','s01e06-01','white t-shirt')
    +feature-svg('1','06','01','s01e05-03','s01e06-02','slouchy black knit sweater')
    +feature-svg('1','06','02','s01e06-01','s01e06-03','white t-shirt')
    +feature-svg('1','06','03','s01e06-02','s01e07-01','black zip-up hoodie, black beanie')
    +feature-svg('1','07','01','s01e06-03','s01e07-02','chunky white knit sweater')
    +feature-png('1','07','02','s01e07-01','s01e08-01','camoflage jacket')
    +feature-svg('1','08','01','s01e07-02','s01e09-01','khaki oxford with cowl')
    +feature-svg('1','09','01','s01e08-01','s01e09-02','black zip-up hoodie with zip sleeves')
    +feature-svg('1','09','02','s01e09-01','s01e09-03','white oxford with marble pattern')
    +feature-png('1','09','03','s01e09-02','s01e10-01','black sweater with two beige stripes at collar')
    +feature-png('1','10','01','s01e09-03','s01e11-01','black oxford with roses pattern')
    +feature-png('1','11','01','s01e10-01','s01e12-01','white sweater with black and grey flowers')
    +feature-svg('1','12','01','s01e11-01','s01e12-02','white polo with black stars at the collar')
    +feature-svg('1','12','02','s01e12-01','s01e12-03','black sweater with diagonal white and grey color blocks')
    +feature-svg('1','12','03','s01e12-02','s01e13-01','dress shirt, tie, and jacket')
    +feature-svg('1','13','01','s01e12-03','s02e01-01','black sweater with leather shoulders')

    +feature-png('2','01','01','s01e13-01','s02e01-02','black hoodie with furry hood')
    +feature-svg('2','01','02','s02e01-01','s02e02-01','grey sweater with text “LOVE ME TENDER”')
    +feature-svg('2','02','01','s02e01-02','s02e02-02','black sweater with thick beige stripe and fancy letter D at center')
    +feature-png('2','02','02','s02e02-01','s02e03-01','white knit sweater with black stripes')
    +feature-png('2','03','01','s02e02-02','s02e03-02','black crewneck sweater')
    +feature-svg('2','03','02','s02e03-01','s02e04-01','black sweater with geometric triangle pattern')
    +feature-svg('2','04','01','s02e03-02','s02e04-02','white sweater with black blob shape at the collar')
    +feature-svg('2','04','02','s02e04-01','s02e05-01','black sweater with two thick white stripes')
    +feature-png('2','05','01','s02e04-02','s02e05-02','white long sleeve shirt with patterened knit shawl')
    +feature-svg('2','05','02','s02e05-01','s02e06-01','black long sleeve with cowl')
    +feature-png('2','06','01','s02e05-02','s02e06-02','white sweater with splatter design')
    +feature-svg('2','06','02','s02e06-01','s02e06-03','black knit sweater')
    +feature-svg('2','06','03','s02e06-02','s02e07-01','white t-shirt with black side trim')
    +feature-svg('2','07','01','s02e06-03','s02e07-02','black sweater with ribbed chest')
    +feature-svg('2','07','02','s02e07-01','s02e08-01','black leather jacket')
    +feature-svg('2','08','01','s02e07-02','s02e09-01','white oxford with black and grey tape pattern')
    +feature-svg('2','09','01','s02e08-01','s02e10-01','black sweater with circle of white stars')
    +feature-svg('2','10','01','s02e09-01','s02e10-02','black t-shirt')
    +feature-svg('2','10','02','s02e10-01','s02e10-03','beige and black zip-up jacket')
    +feature-png('2','10','03','s02e10-02','s02e11-01','black sweater with leather chest')
    +feature-svg('2','11','01','s02e10-03','s02e11-02','black sweater with leather chevron and grey sleeve')
    +feature-svg('2','11','02','s02e11-01','s02e12-01','white t-shirt with text “DON’T”')
    +feature-png('2','12','01','s02e11-02','s02e12-02','black sweater with grey vinery design')
    +feature-svg('2','12','02','s02e12-01','s02e13-01','suit jacket with navy and black stripes')
    +feature-svg('2','13','01','s02e12-02','s02e13-02','white t-shirt with black side trim')
    +feature-png('2','13','02','s02e13-01','s03e01-01','black sweater with symmetric flowers design')

    +feature-svg('3','01','01','s02e13-02','s03e01-02','black sweater with grey zigzag and star collar')
    +feature-svg('3','01','02','s03e01-01','s03e02-01','white sweater with plaid collar')
    +feature-svg('3','02','01','s03e01-02','s03e02-02','white sweater with geometric emblem')
    +feature-svg('3','02','02','s03e02-01','s03e02-03','grey hooded cardigan')
    +feature-svg('3','02','03','s03e02-02','s03e02-04','white polo with black stars at the collar')
    +feature-png('3','02','04','s03e02-03','s03e03-01','black sweater with white pattern')
    +feature-png('3','03','01','s03e02-04','s03e03-02','black sweater with statue of libery holding lightning bolts')
    +feature-svg('3','03','02','s03e03-01','s03e04-01','black cardigan')
    +feature-svg('3','04','01','s03e03-02','s03e04-02','white sweater with contour drawing of a face')
    +feature-svg('3','04','02','s03e04-01','s03e04-03','black sweater with text “RADICAL FEMINIST”')
    +feature-svg('3','04','03','s03e04-02','s03e05-01','grey knit sweater')
    +feature-svg('3','05','01','s03e04-03','s03e05-02','grey sweater with cattail design')
    +feature-svg('3','05','02','s03e05-01','s03e06-01','grey sweater with white and black trim on sleeves')
    +feature-svg('3','06','01','s03e05-02','s03e07-01','olive sweater')
    +feature-svg('3','07','01','s03e06-01','s03e07-02','grey sweater with spikes down the sleeves')
    +feature-png('3','07','02','s03e07-01','s03e08-01','black sweater with rotweiller')
    +feature-svg('3','08','01','s03e07-02','s03e08-02','black sweater with narrow white stripes down center')
    +feature-svg('3','08','02','s03e08-01','s03e09-01','grey sweater with black and white color blocks')
    +feature-png('3','09','01','s03e08-02','s03e09-02','grey sweater with smoky pattern, skull and baseball')
    +feature-png('3','09','02','s03e09-01','s03e10-01','white sweater with sketchy stripes')
    +feature-svg('3','10','01','s03e09-02','s03e10-02','black sweater with ribbed chest')
    +feature-svg('3','10','02','s03e10-01','s03e10-03','grey sweater with scattered black birds')
    +feature-svg('3','10','03','s03e10-02','s03e11-01','black leather jacket')
    +feature-png('3','11','01','s03e10-03','s03e11-02','black camo sweater with black and white chevrons')
    +feature-svg('3','11','02','s03e11-01','s03e11-03','white t-shirt with text “DON’T”')
    +feature-svg('3','11','03','s03e11-02','s03e12-01','black sweater with circle of white stars')
    +feature-png('3','12','01','s03e11-03','s03e12-02','black sweater with gold medallions')
    +feature-svg('3','12','02','s03e12-01','s03e12-03','cream sweater with zebra pattern')
    +feature-svg('3','12','03','s03e12-02','s03e13-01','white t-shirt with vampire mouth')
    +feature-svg('3','13','01','s03e12-03','s03e13-02','black crewneck sweater')
    +feature-svg('3','13','02','s03e13-01','s03e13-03','black sweater with white heart')
    +feature-svg('3','13','03','s03e13-02','s04e01-01','black sweater with big white lightning bolt')

    +feature-png('4','01','01','s03e13-03','s04e02-01','tan sweater with cheetah print')
    +feature-svg('4','02','01','s04e01-01','s04e02-02','black sweater with script text “Parisien”')
    +feature-png('4','02','02','s04e02-01','s04e03-01','black sweater with organic spot pattern')
    +feature-svg('4','03','01','s04e02-02','s04e03-02','grey sweater with black square and two white X‘s')
    +feature-png('4','03','02','s04e03-01','s04e04-01','black sweater with symmetric flowers design')
    +feature-svg('4','04','01','s04e03-02','s04e05-01','black crew neck sweater')
    +feature-png('4','05','01','s04e04-01','s04e05-02','white knit sweater with black stripes')
    +feature-png('4','05','02','s04e05-01','s04e06-01','black sweater with paisley pattern')
    +feature-png('4','06','01','s04e05-02','s04e06-02','black sweater covered with white writing and fireworks')
    +feature-png('4','06','02','s04e06-01','s04e06-03','black sweater with red and orange fire pattern')
    +feature-svg('4','06','03','s04e06-02','s04e07-01','black sweater with text “NO TOUCH”')
    +feature-svg('4','07','01','s04e06-03','s04e08-01','black sweater with white radial geometric pattern')
    +feature-svg('4','08','01','s04e07-01','s04e08-02','black turtleneck')
    +feature-png('4','08','02','s04e08-01','s04e08-03','black sweater with two dobermans')
    +feature-svg('4','08','03','s04e08-02','s04e09-01','white bathrobe')
    +feature-svg('4','09','01','s04e08-03','s04e10-01','black leather sweater with white and red striped sleeves and white stars at the collar')
    +feature-svg('4','10','01','s04e09-01','s04e10-02','white sweater with text “WILD ALOOF REBEL”')
    +feature-svg('4','10','02','s04e10-01','s04e11-01','black zip-up jacket')
    +feature-png('4','11','01','s04e10-02','s04e12-01','black sweater with sliced Hercules imagery on the sleeves')
    +feature-png('4','12','01','s04e11-01','s04e13-01','black sweater with wings at the shoulders')
    +feature-svg('4','13','01','s04e12-01','s04e13-02','suit with pink bowtie')
    +feature-svg('4','13','02','s04e13-01','s04e13-03','cream chunky sweater with zigzag pattern')
    +feature-png('4','13','03','s04e13-02','s04e13-04','black sweater with glittery grey stripes')
    +feature-svg('4','13','04','s04e13-03','s05e01-01','grey sweater with bold zigzag pattern at chest')

    +feature-svg('5','01','01','s04e13-04','s05e01-02','slouchy grey pullover hoodie')
    +feature-png('5','01','02','s05e01-01','s05e02-01','white sweater with spray-painted black stars')
    +feature-png('5','02','01','s05e01-02','s05e02-02','white t-shirt with handwriting and bird')
    +feature-png('5','02','02','s05e02-01','s05e02-03','black cardigan with white palm trees pattern')
    +feature-svg('5','02','03','s05e02-02','s05e03-01','black sweater with cubes pattern')
    +feature-svg('5','03','01','s05e02-03','s05e03-02','white t-shirt with black stripes')
    +feature-png('5','03','02','s05e03-01','s05e03-03','grey knit sweater with frayed edges')
    +feature-svg('5','03','03','s05e03-02','s05e04-01','black pullover hoodie with three white racing stripes')
    +feature-svg('5','04','01','s05e03-03','s05e04-02','black sweater with radiating white lightning bolts')
    +feature-svg('5','04','02','s05e04-01','s05e05-01','black hoodie with text “POSSESSED”')
    +feature-svg('5','05','01','s05e04-02','s05e05-02','black sweater with lace-up sleeves')
    +feature-svg('5','05','02','s05e05-01','s05e06-01','white pajama shirt')
    +feature-png('5','06','01','s05e05-02','s05e07-01','black sweater with purple and white dyed bottom')
    +feature-svg('5','07','01','s05e06-01','s05e08-01','black sweater with bird')
    +feature-svg('5','08','01','s05e07-01','s05e09-01','black sweater with text “NONCHALANCE”')
    +feature-svg('5','09','01','s05e08-01','s05e09-02','white sweater with text “BEAUTY &”')
    +feature-svg('5','09','02','s05e09-01','s05e10-01','white and green baseball shirt with team logo “Cafe Tropical”')
    +feature-svg('5','10','01','s05e09-02','s05e11-01','grey sweater with black panther sleeves')
    +feature-svg('5','11','01','s05e10-01','s05e11-02','slouchy black sweater')
    +feature-svg('5','11','02','s05e11-01','s05e12-01','black sweater with geomeetric heart pattern and the text “I BELIEVE IN THE POWER OF LOVE”')
    +feature-svg('5','12','01','s05e11-02','s05e13-01','black sweater with white and red stripes')
    +feature-svg('5','13','01','s05e12-01','s05e13-02','black sweater with text “You First”')
    +feature-svg('5','13','02','s05e13-01','s05e14-01','black sweater with big, fuzzy black stripes')
    +feature-svg('5','14','01','s05e13-02','s05e14-02','black t-shirt')
    +feature-svg('5','14','02','s05e14-01','s05e14-03','black pullover hoodie with white laces up the center and hood')
    +feature-svg('5','14','03','s05e14-02','s06e01-01','black sweater with white embroidered roses at the chest')

    +feature-svg('6','01','01','s05e14-03','s06e02-01','black very-worn sweater with holes')
    +feature-svg('6','02','01','s06e01-01','s06e02-02','black t-shirt with “LOVER” over the pocket')
    +feature-png('6','02','02','s06e02-01','s06e02-03','cream hoodie with big fuzzy dots')
    +feature-svg('6','02','03','s06e02-02','s06e03-01','long sleeve black and white striped shirt with red heart with eyes at the chest')
    +feature-svg('6','03','01','s06e02-03','s06e03-02','black hoodie with text on the chest “Truth. It’s more important now than ever.”')
    +feature-svg('6','03','02','s06e03-01','s06e03-03','black sweater with grey tiger stripes')
    +feature-svg('6','03','03','s06e03-02','s06e04-01','light blue oxford')
    +feature-svg('6','04','01','s06e03-03','s06e05-01','black sweater with glittery chest')
    +feature-svg('6','05','01','s06e04-01','s06e05-02','black sweater with growling dog and the text “BEWARE”')
    +feature-svg('6','05','02','s06e05-01','s06e05-03','black long sleeve shirt with ribbon down side')
    +feature-svg('6','05','03','s06e05-02','s06e06-01','black sweater with white and grey glittery detail around shoulders')
    +feature-svg('6','06','01','s06e05-03','s06e06-02','black sweater with oversized grey leopard print')
    +feature-png('6','06','02','s06e06-01','s06e07-01','white t-shirt with black square and black leather jacket')
    +feature-svg('6','07','01','s06e06-02','s06e07-02','black sweater with mauve geometric panel on front')
    +feature-svg('6','07','02','s06e07-01','s06e08-01','black sweater with dyed stripes at the bottom and text “DREAM ON” at chest')
    +feature-svg('6','08','01','s06e07-02','s06e08-02','black sweater with two thick white stripes and white star')
    +feature-svg('6','08','02','s06e08-01','s06e09-01','silver sweater')
    +feature-png('6','09','01','s06e08-01','s06e09-02','black sweater with white tattoo artwork')
    +feature-svg('6','09','02','s06e09-01','s06e09-03','black sweater covered with eyeballs')
    +feature-svg('6','09','03','s06e09-02','s06e10-01','black sweater with triangles of grey, white, and red color blocks')
    +feature-svg('6','10','01','s06e09-03','s06e11-01','black sweater with ICON over the chest')
    +feature-svg('6','11','01','s06e10-01','s06e11-02','black hoodie with LOVER written in sequins')
    +feature-svg('6','11','02','s06e11-01','s06e12-01','black t-shirt with I’M STUPID in white letters')
    +feature-svg('6','12','01','s06e11-02','s06e13-01','black sweater with a snake across the shoulder and sleeve')
    +feature-svg('6','13','01','s06e12-01','s06e13-02','black sweater with open hand graphic')
    +feature-svg('6','13','02','s06e13-01','s06e14-01','black sweater with two hands cupping fire')
    +feature-svg('6','14','01','s06e13-02','s06e14-02','black and white striped sweater with a single red stripe at the wrist')
    +feature-svg('6','14','02','s06e14-01','s06e14-03','black sweater with a rainbow heart that says LOVE and colored stars down the sleeves')
    +feature-svg('6','14','03','s06e14-02','s06e14-04','a tux shirt, bowtie, and jacket')
    +feature-svg('6','14','04','s06e14-03','top','a dress shirt with rolled sleeves and untied bowtie')

  
